<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <script src="vendors/jquery-3.2.1.min.js">

    </script>
    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i,900" rel="stylesheet">
    <script type="text/javascript" src="scripts/client.js">

    </script>
  </head>
  <body>
    <h1>Weekend Challenge 3</h1>
    <h2>HONEY DO LIST:</h2>
    <div id="addTodos">
      <input type="text" id="todoInput" placeholder="Add A Todo...">
      <button id="submitBtn">Add</button>
    </div>
    <div id="container">

    </div> <!-- end of container -->
    <div id="buttonDiv">
      <button class="deleteBtns" id="allCompletedBtn">Delete All Completed Todos</button>
      <button class="deleteBtns" id="allBtn">Delete All Todos</button>
    </div>
    <footer id="signature">
      <p>by Corey Sader</p>
    </footer>
  </body>
</html>
